.container-filtre {
	margin-top: 40px;
}

.view-content-adherent caption {
	color: #000;
	font-size: 18px;
}

.adherent-contents {
	padding: 20px;
	border: 1px solid lightgray;
	margin-top: 10px;
	margin-bottom: 30px;
	
}
.adherent-contents:hover {
	box-shadow: 2px 2px 10px gray;
}
.adherent-contents th.views-field-title {
	width: 100%;
}
.adherent-contents th {
	white-space: nowrap;
}


.periode-tab .periode {
	background: #4B83CF;
	color: #fff;
	cursor: pointer;
	
}

.periode-tab .line {
	background: #eee;
}
