{{ message }}

<div class="ui-dialog-buttonset form-actions">
<a href="/admin/adherent/{{ nid }}/delete?destination=/admin/adherents" class="button button--primary js-form-submit form-submit btn btn-primary ui-button ui-corner-all ui-widget">Supprimer</a>

<a href="#"  class="button ui-button ui-corner-all ui-widget" onclick="$('.ui-dialog').remove()">Annuler</a>
</div>



