/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
 
 body {

 }
#map path.actif {
    fill: #388EB1;
    stroke: #FFFFFF;
    transition: fill 0.2s, stroke 0.3s;
}

#map path {
    fill: #667D87;
    stroke: #FFFFFF;
    transition: fill 0.2s, stroke 0.3s;
}
#map path.actif:hover {
      fill: #E2001A;
      stroke: red;
}
.path-frontpage {
	h1 {
		color: #db2a24;
		margin-top: 20px;
	}
}
h1 {
	font-size: 1.8rem;
}
#block-blocentetenational img {

}
#entete_national img {
	width: 100%;
}

#entete_national p {
	margin-bottom: 0;
}



#entete_national .logo-national {
	background: url(/assets/img/piaf.jpg) no-repeat left center;
	padding-left: 230px;
}
.accueil {
	padding-top: 90px;
	background: url(/assets/img/lien_accueil.jpg) no-repeat;
	background-position: 0px 30px;
	background-size: contain;
	cursor: pointer;
}
#block-kidiklikentete span {
	margin-left: 45px !important;
	font-size: 42px!important;
	display: block;
	text-align: center;
}
@media (max-width: 1200px) {
	#block-kidiklikentete span {
		margin-left: 35px !important;
		font-size: 35px!important;
	}
}
.logo-dep {
	.titre {
		padding-left: 35px;
		font-size: 38px;
		@media (max-width: 1200px) {
			font-size: 33px;
		}
		@media (max-width: 992px) {
			text-align: center;
		}
	}

		img {
			width: 100%;
			&:first-child {
				max-width: 640px;
			
			}
		}
}	
@media (max-width: 992px) {
	#entete_national .logo-national {
		background: none;
		padding-left: 15px;
	}
	#entete {
		position: relative;
		
		.row > div {
			padding-left: 5px;
			padding-right: 5px;
			&:first-child {
				padding-left: 15px;
			}
			&:last-child {
				padding-right: 15px;
			}
			
			
		}
	}
	.logo-dep {
		.titre {
			padding-left: 0px;
			font-size: 4.4vw;
		}
	}
	#block-kidiklikentete img {
		/*padding-left: 80px;*/
	}
	#block-kidiklikentete span {
		margin-left: 0 !important;
		font-size: 30px!important;
	}
	#entete .accueil_dep {
		/*position: absolute;
		top:0;
		left:0;*/
	}
}

@media (max-width: 768px) {
	.logo-dep {
		.titre {
			padding-left: 0px;
			font-size: 4vw;
		}
	}
	#entete_national {
		position: relative;
	}
	.accueil {
		position: absolute;
		top: 0px;
		left: 10px;	
		width: 80px;
		z-index: 100;
		background-position: 0px 8px;
		padding-top: 10%;
		max-width: 10%;
		padding-left: 4px;
	}
	
	.logo-national { 
		width: 100%;
		max-width: 100%;
		flex: 100%;
	}
	.logo-national img { 
		padding-left: 90px;
		padding-right: 80px;
	}
	.logo-national p {
		margin-left: 0!important;
		font-size: 30px!important;
		width: 100%;
		text-align: center;
	}
	
	
}

#block-blocinformationrecherchegeo, 
#block-blocinformationrecherchegeo h2 {
	font-weight: bold;
	
}
#block-blocinformationrecherchegeo {
	padding-top: 100px;
}
#block-blocinformationrecherchegeo h2 {
	font-size: 30px;
}
#block-block-article-accuei  {
	font-size: 14px;
}
#block-block-article-accueil a {
	font-size: 16px;
	font-weight: 700;
}
#block-block-article-accueil .card {
	border: none;
	border-radius: 0;
	line-height: 18px;
}
#block-block-article-accueil .bloc  .card-img-top {
	height: 200px;
}
#block-block-article-accueil .bloc .card .card-body {
	background: #e3001b;
	color: #fff;
	height: 160px;
}
#block-block-article-accueil .bloc .card .card-body a {
	color: #fff;
}
#block-block-article-accueil .line .card .card-body {
	color: #888;
}
#block-block-article-accueil .line .card .card-body a {
	color: #3ba2c1;
}
#block-block-article-accueil .line .card {
	display: flex;
	flex-direction: row;
}
#block-block-article-accueil .line .card .card-img-top {
	width: 30%;
}

#block-block-article-accueil .line .card .card-body {
	width: 70%;
}

article img {
	max-width: 100%;
	margin-bottom: 10px;
}

.recherche-geo input {
	background: #fff;
}
input[type=text] {
	background: #fff;
	border: 1px solid #ccc;
}

.recherche-geo .select2,
.recherche-geo label {
	width: 100%!important;
}
.recherche-geo .texte {
	color: #e3001b;
	text-align: center;
	font-weight: 700;
}
.recherche-geo .select2-container--default .select2-selection--single {
	border-radius: 0;
	height: 35px;
}
.recherche-geo .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 35px;
}
 footer {
	background: #2f9cbd;
	padding: 20px;
 }
 footer a {
	color: #fff;
 }
  footer a:hover {
	color: #fff;
	text-decoration: underline;
  }
  footer .menu {
	max-width: 900px;
	margin: auto;
  }

footer .menu li {
	border-right: 1px solid #fff;
	padding-right: 12px;
}
footer .menu li.last {
	border-right: none;
}
.accueil_dep {
	padding-top: 35px;
	
	@media (max-width: 768px) {
		padding-top: 10px;
		span {
			display: none;
		}
	}
}
#rubriques_activites,
#rubriques_activites a {
	color: #444;
	font-size:0.95em;
	
}
#rubriques_activites {
	background: #f9f6f4;
	padding-bottom: 20px;
	
}
#rubriques_activites .form-group {
	margin-bottom: 0;
}
#rubriques_activites h3 a {
	font-size: 14px;
	text-transform: uppercase;
	color: #444;
	font-weight: 700;
}
.view-taxonomy-term .views-field-field-image {
	float: left;
	padding-right: 20px;
}
@media(max-width: 559px) {
	.view-taxonomy-term .views-field-field-image {
		padding-right: 0px;
	}

}

.view-taxonomy-term .image {
	float: left;
	margin-right: 20px;
	width: 33%;
}
.view-taxonomy-term img {
	max-width: 100%;
}
.view-taxonomy-term  .views-row {
	margin-bottom: 20px;
	overflow: hidden;
}

.page-rubriques-activites {
	font-size: 14px;
	.titre {
		font-size: 16px;
	}
	.ville, .a-partir-de, .date {
		padding-right: 10px;
		span {
			
		}
	}
	.fa:before {
		padding-right: 5px;
	}
	.resume {
		margin-top: 5px;
	}
	
	.paragraph--type--date {
		display: inline-block;
		.field {
			display: inline-block;
		}
		.field--name-field-date-de-fin {
			position: relative;
			&:before {
				position: absolute;
				content: ' au ';
				display: inline;
			}
			.field--item {
				padding-left: 18px;
			}
		}
	}
}

.activite {
	.bloc1 {
		font-size: 14px;
		.field--label {
			font-weight: 500;
			display: inline-block;
			&:after {
				content: " : ";
			}
		}
		.field--item {
			font-weight: 500;
			display: inline-block;
		}
		
		.field--name-field-a-partir-de {
			display: block;
			margin-top: 10px;
			.field--item {
				&:before {
					content: "Public : ";
				}
			}
		}
		.field--name-field-date {
			margin-top: 10px;
			.field--items {
				display: inline-block;
				.paragraph {
					.field {
						display: inline-block;
					}
					.field--name-field-date-de-fin {
						&:before {
							content: " au ";
						}
					}
				}
			}
		}
	}
}

article {
	margin-bottom: 20px;
	
	.en-bref:before {
		content: 'En bref';
		font-size: 18px;
		display: block;
		padding-bottom: 15px;
	}
	
	.informations {
		color: #3da1c3;
		.field--label {
			font-weight: 700;
		}
		&:before {
			content: 'Informations';
			font-size: 18px;
			display: block;
			padding-bottom: 10px;
		}
		.field {
			margin-bottom: 15px;
			display: block;
			&:before {
				color: #000;
			}
			.field--label {
				font-weight: 500;
				display: inline-block;
				&:after {
					content: " : ";
				}
			}
			.field--item {
				font-weight: 500;
				padding-left: 20px;
			}
		}
		.field--name-field-lien {
			.field--label {
				&:after {
					content: "";
				}
			}
		}
	}
		
}

.carre {
	.views-row {
		text-align: center;
	}
}

.diaporama {
	position: relative;
	width: 100%;
	
	.views_slideshow_cycle_teaser_section,
	.views_slideshow_cycle_slide {
		width: 100%!important;
		
		
		.views-row {
			position: relative;
			display: flex;
			@media(max-width: 992px) {
				flex-direction: column;
			}
			.views-field-title {
				flex: 1;
				display: block;
				background: #db2a24;
				padding: 20px;
				color: #fff;
				a {
					color: #fff;
				}
			}
			.views-field-nothing {
				flex: 3;
			}
		}
	}

	img {
		width: 100%!important;
	}
}

#menu {
	@media(min-width: 992px) {
		.navbar {
			position: relative!important;
		}
	}
	.select2-selection--single {
		border-radius: 0px;
		border: none;
		background: url(/assets/img/picto_france.jpg) no-repeat top center;
		padding-top: 20px;
		.select2-selection__arrow {
			top: 20px;
		}
	}
	
	.select2-container {
		width: 180px!important;
	}
	.navbar {
		padding-left: 0;
		padding-right: 0;
		font-size: 13px;
	}
	
	#navbarCollapse {
		ul {
			display: flex;
			width: 100%;
			li {
				flex: auto;
				padding-right: 10px;
				text-align: center;
				&.coeur {
					background: url(/assets/img/picto_coeur.jpg) no-repeat top center;
					
					a {
						margin-top: 15px;
					}
				}
				&.user {
					background: url(/assets/img/picto_user.jpg) no-repeat top center;
					text-align: center;
					a {
						margin-top: 15px;
					}
				}
				input {
					margin-top: 20px;
					margin-left: auto;
					margin-right: auto;
					width: 100%;
				}
			}
		}

	}
	
}
.select2-container--open .select2-dropdown--below {
	border-radius: 0;
	border: 1px solid gray;
}
.icon-menu {
	@media (max-width: 992px) {
		margin-top: 40%;
		border-color: transparent!important;
		
		.icon {
			background-image: url(/assets/img/menu.jpg)!important;
			width: 40px;
			height: 40px;
			display: block;
			background-size: contain;
		}
		
	}
	
}

#block-bloc-liste-article-accueil-national {
	.row {
		.img {
			height: 150px;
			overflow: hidden;
		}
		margin-bottom: 20px;
	}
}


