#logo img{
  /*max-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
}
#logo .logo-lg, #logo .logo-mini{
  position:relative;
  height:50px;
}

.login-box .logo-lg > img {
  max-width: 100%;
}
.view-content-adherent caption {
	color: #000;
	font-size: 18px;
}
a.status, a.status:hover  {
	width: 20px;
	height: 20px;
	color: transparent;
	text-indent: -9999px;
	display: block;
}
 
a.publie {
	background: red;
}
a.depublie {


	background: green;
}

@media (max-width: 767px){

  body.skin-black #logo,
  body.skin-black #logo:hover,
  body.skin-black-light #logo,
  body.skin-black-light #logo:hover
  {
    background-color:#fff;
    border-bottom: 1px solid #eee;
  }

}
.login-page-header.logo .logo-lg {
  display: block;
}
.login-page-header.logo .logo-mini {
  display: none;
}

body .label {
  color: #333;
  font-size: 80%;
}

a.tabledrag-handle .handle {
  width: 24px;
  height: 24px;
}

.box > .box-header > h4{
  margin:0;
}

@media (max-width: 991px){
  .content-header > h1.page-title{
    margin-top:20px;
  }
}
#dates .paragraph-type-title {
	display: none;
}
#dates .paragraphs-dropbutton-wrapper {
	flex-basis: 100%;
	text-align: right;
}
#dates table tbody h4,
#field-date-values h4,
#edit-field-date-envoi-wrapper h4,
#edit-field-date-debut-wrapper h4, 
#edit-field-date-fin-wrapper h4 {
	font-size: 14px;
	    padding: 10px;
        padding-left: 10px;
    display: block;
    text-align: left;
    padding-left: 0;
}
.node-agenda-form #dates .paragraphs-subform {
    display: flex;
}
.node-agenda-form #dates .paragraphs-subform .field--type-datetime {
    flex: 1;
    padding: 10px;
    padding-top: 0;
}

.js .views-edit-view .dropbutton-wrapper .dropbutton .dropbutton-action > * {
    color: #3c8dbc!important;
}

.view-rubriques-activites {
	display: flex;
	flex-direction: column;

}

#edit-field-mise-en-avant-actions input {
	text-transform: lowercase;
}

#node-article-form #field-date-add-more-wrapper .field-add-more-submit,
#node-article-edit-form #field-date-add-more-wrapper .field-add-more-submit {
	display: none;
}

ul.sidebar-menu a span svg {
	margin-right: 5px;
}

ul.sidebar-menu a svg.fa-angle-left {
	width: 8px;
}

.views-ui-view-name h3 {
			    font-size: 18px;
}
.field--name-field-paragraphes {
	margin-bottom: 20px;
}
.field--name-field-paragraphes .dropbutton--multiple li input {
	margin: 0;
	background: #fff;
	color: #000;
	border: none;
}

#taxonomy-term-rubriques-activite-form #edit-field-departement-wrapper {
	display: none;
}

@media(min-width: 768px) {
.paragraph--type--structure-en-colonnes .flex-row div:nth-child(2) {
    display: flex;
    flex-direction: row;
    
}
.paragraph--type--structure-en-colonnes .flex-row div:nth-child(2) div {
    display: initial;
    padding: 10px;
    flex: 1;
}
.paragraph--type--structure-en-colonnes .flex-row div:nth-child(2) div div {
    padding: 0;
}
.paragraph--type--structure-en-colonnes img {
    width: 100%;
    height: auto;
}

.sidebar-collapse .sidebar-menu a i.fa {
    display: inline-block;
    
}
.sidebar-collapse .sidebar-menu a span i {
    display: none;
}
/*
.sidebar-menu a i.fa {
    display: none;
    
}*/
.sidebar-menu a span i.fa {
    display: inline-block;
    margin-right: 5px;
    
}

.dropbutton-multiple.open .dropbutton-arrow {
    /*border-bottom: 1px solid;*/
}

.dropbutton-widget .btn-primary {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 5px;
    margin: 0;
}
